.main {
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
}

.img {
    cursor: pointer;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lightContainer {
    color: #e2dfcd;
    border-radius: 5px;
    border: 1px solid rgba(220, 255, 214, 0.2);
    background: var(--8-lemon, rgba(194, 255, 184, 0.08));
    max-width: 382px;
    padding: 12px;
}

.darkContainer {
    color: #e2dfcd;
    border-radius: 5px;
    border: 1px solid var(--20-guava, rgba(220, 255, 214, 0.2));
    max-width: 382px;
    padding: 12px;
    height: 100px;
    overflow-y: scroll;
}

.button {
    cursor: pointer;
    display: flex;
    width: 382px;
    height: 53px;
    padding: 3px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--pistachio, #d3ffcc);
    background: none;
    color: var(--pistachio, #d3ffcc);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    transition: color 0.3s ease-in-out;
}

.button:hover {
    color: #2dff0b;
    border-color: #2dff0b;
}

.star {
    transition: fill 0.3s ease-in-out;
}

.star:hover {
    fill: #2dff0b !important;
}

.textArea {
    width: 100%;
    max-width: 382px;
    background-color: black;
    color: #e2dfcd;
    border: 1px solid rgba(220, 255, 214, 0.2);
    border-radius: 5px;
    padding: 10px; 
    resize: none;
    margin-bottom: 1rem;
}

.smallTextArea {
    color: #e2dfcd;
    border-radius: 5px;
    border: 1px solid var(--20-guava, rgba(220, 255, 214, 0.2));
    max-width: 382px;
    width: 100%;
    resize: none;
    background-color: #07061d;
}

.textArea:focus, .smallTextArea:focus{
    border-color: rgba(255, 255, 255, 0.5);
    outline: none;
}
